* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway";
  display: flex;
  flex-direction: column;
}

#holder {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1440px;
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.ct-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.background-head {
  height: 120px;
  background-color: #082129;
  background-image: linear-gradient(to right, rgb(49, 49, 49), rgb(20, 20, 20));
  box-shadow: 0px 0px 20px 0px rgb(0, 0, 0, 1);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.favicon {
  height: 80px;
  padding-top: 28px;
}

/*main*/

.background-main {
  flex: 1;
  background-color: #05171e;
  background-image: linear-gradient(to right, #41413f, rgb(20, 20, 20));
  margin-left: auto;
  margin-right: auto;
  min-height: 650px;
  width: 100%;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  display: flex;
  justify-content: flex-start;
  color: white;
  width: 100%;
  text-align: left;
  text-shadow: 0px 2px 2px black;
  margin-block-start: 0;
  margin-block-end: 0;
}

.text {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
}

.ct-picture {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  margin: 0 auto;
  margin-top: 20px !important;
  margin-bottom: 80px !important;
}

.image {
  width: 250px;
  height: 180px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 8px !important;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  object-fit: cover;
  object-position: 50%;
}

.image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.5);
}
/*overlay*/

#dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.d-none {
  display: none !important;
}

#dialog {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  max-width: 600px;
  max-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dialog img {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: black;
  cursor: pointer;
  z-index: 10001;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 50%;
}

.close-btn:hover {
  background-color: rgba(0, 255, 156, 0.8);
}

.prev,
.next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  font-size: 24px;
  color: white;
  padding: 10px;
  user-select: none;
  z-index: 10001;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s ease;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 255, 156, 0.8);
}

.counter {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
}

/*footer*/

.background-footer {
  height: 120px;
  background-color: rgb(49, 49, 49);
  background-image: linear-gradient(to right, rgb(49, 49, 49), rgb(20, 20, 20));
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 1);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  flex: 1;
}

.footer a {
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-top: 35px;
  flex: 1;
}
@media (min-width: 1800px) {
  h2 {
    font-size: 24px;
  }
  .ct-container {
    max-width: 2100px;
  }
  header {
    max-width: 2100px;
  }

  footer {
    max-width: 2100px;
  }
  .image {
    width: 300px;
    height: 230px;
  }
}
@media (max-width: 1500px) {
  .head-logo a {
    margin-left: 20px;
  }
  h2 {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    max-width: 1200px;
  }
  .ct-picture {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 580px) {
  .favicon {
    height: 40px;
  }
  h2 {
    font-size: 16px;
  }

  .footer a {
    font-size: 20px;
  }
}
